@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?u43fhw')
  src:  url('../fonts/icomoon.eot?u43fhw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u43fhw') format('truetype'),
    url('../fonts/icomoon.woff?u43fhw') format('woff'),
    url('../fonts/icomoon.svg?u43fhw#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-account_circle:before
  content: "\e853"

.icon-all_inclusive:before
  content: "\eb3d"

.icon-navigate_before:before
  content: "\e408"

.icon-navigate_next:before
  content: "\e409"

.icon-forward_10:before
  content: "\e056"

.icon-repeat:before
  content: "\e040"

.icon-repeat_one:before
  content: "\e041"

.icon-replay_10:before
  content: "\e059"

.icon-heart:before
  content: "\e900"

.icon-star:before
  content: "\e901"

.icon-headphones:before
  content: "\e910"

.icon-clock:before
  content: "\e94e"

.icon-spinner:before
  content: "\e982"

.icon-search:before
  content: "\e986"

.icon-play:before
  content: "\ea15"

.icon-pause:before
  content: "\ea16"

.icon-previous:before
  content: "\ea18"

.icon-next:before
  content: "\ea19"

.icon-backward:before
  content: "\ea1a"

.icon-forward:before
  content: "\ea1b"

.icon-shuffle:before
  content: "\ea30"

.icon-share:before
  content: "\ea82"
